# Secrets
.env
*.env

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Adatok (ne kerüljön a repóba)
data/raw/
data/chunks/

# IDE
.vscode/
.idea/
.DS_Store
src/.DS_Store
!data/raw/manual/
!data/raw/manual/**
